:root{
    --prm: #09c;
    --scn: #c00;
    --drk: #060;
    --lgt: #fa0;
    --stn: #ccc;
    --blc: #000;
    --wht: #fff;

    --hv-prm: #077499;
    --hv-scn: #a80606;
    --hv-drk: #033d03;
    --hv-lgt: #bc7f03;
    --hv-stn: #999;
    --hv-blc: #333;
    --hv-wht: #eee;
}

