*{margin: 0; padding: 0}

a{color: #09c;}
a:hover{color: #06c;}

.none{
    display: none;
}

main{
    width: 94%;
    margin: 0 auto;
}

header, footer{
    width: 100%;
    height: 100px;
    float: left;   
}

.box header{
    height: auto;
}

.box{
    width: 100%;
    float: left;
    margin: 0 10px 10px 0;
    text-align: left;
}

.box ul {
    list-style-type: none;
}

.box{min-height: 200px;} /* remover ctrl+shift+k*/

.lk_prm li a, .lk_prm dd a{
    color: var(--prm);
    text-decoration: none;
}

.lk_prm li a:hover, .lk_prm dd a:hover{
    color: var(--hv-prm);
}

@media (min-width: 768px)
{
    .box{width: 48%;}
}

@media (min-width: 768px) 
{
    .box{width: 48%;}
}

@media (min-width: 968px)
{
    .box{width: 31.4%;}
}

@media (min-width: 1280px)
{
    .box{width: 23.1%;}
}
