<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="../asset/css/root.css">
    <link rel="stylesheet" href="../asset/css/base.css">
    <link rel="stylesheet" href="asset/css/style.css">
</head>
<body>
    <div class="container">
        <div class="box">
                <div class="expand">
                <a href="03/" target="_blank">
                    <img src="asset/img/layout/thumbnail/layout03.png" alt="layout03">
                </a>
            </div>
            <div class="title">
                <h1>layout03</h1>
            </div>
            <div class="description">
                descrição aqui
            </div>
        </div>
        <div class="box">
            <div class="expand">
                <a href="02/" target="_blank">
                    <img src="asset/img/layout/thumbnail/layout02.png" alt="layout02">
                </a>
            </div>
            <div class="title expand">
                <h1>layout02</h1>
            </div>
            <div class="description expand">
                descrição aqui
            </div>
            
        </div>
        <div class="box">
            <div class="expand">
                <a href="01/" target="_blank">
                    <img src="asset/img/layout/thumbnail/layout01.png" alt="layout01">
                </a>
            </div>
            <div class="title">
                <h1>layout01</h1>
            </div>
            <div class="description">
                descrição aqui
            </div>
        </div>
    </div>
</body>
</html>