* {
    margin: 0;
    padding: 0;
}

p {
    text-align: center;
    margin: center;

}

.container {
    width: 96%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 150px 450px 450px 450px 200px;
    grid-template-columns: 100%;
    grid-template-areas: "header"
        "nav"
        "article"
        "aside"
        "footer"

}

header {
    grid-area: header
}

nav {
    grid-area: nav
}

article {
    grid-area: article
}

aside {
    grid-area: aside
}

footer {
    grid-area: footer
}

@media(min-width: 768px)
 {
    .container {
        grid-template-rows: 150px 450px 200px;
        grid-template-columns: 30% 50% 20%;
        grid-template-areas: "header header header"
            "nav article aside"
            "footer footer footer"
    }
}