<!DOCTYPE html>
<html lang="pr-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>01 - Layout</title>
    <link rel="stylesheet" href="asset/css/style.css">
</head>
<body>
    <div class="principal">
        <header>
            <p>Header</p>
        </header>
        <section>
            <p>Content</p>
        </section>
        <aside>
            <p>Sidebar</p>
        </aside>
        <footer>
            <div class="part1"><p>parte 1</p></div>
            <div class="part2"><p>parte 2</p></div>
            <div class="part3"><p>parte 3</p></div>
        </footer>
    </div>
</body>
</html>