<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>01 - Layout</title>
    <link rel="stylesheet" href="../../portifolio/css/color-palette.css">
    <link rel="stylesheet" href="asset/css/style.css">
</head>
<body>
    <div class="container">
        <header class="bg_prm">
            <p>header</p>
        </header>
        <section class="bg_scn">
            <p>section</p>
        </section>
        <aside class="bg_lgt">
            <p>sidebar</p>
        </aside>
        <footer class="bg_drk">
            <div class="part1"><p>part1</p></div>
            <div class="part2"><p>part2</p></div>
            <div class="part3"><p>part3</p></div>
        </footer>
    </div>
</body>
</html>