*{margin: 0; padding: 0;}

body{color: #fff;}

container{
    width: 90%;
    margin: 0 auto;
}

main{
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "section1" "section2" "section3" "section4";
}

header, section, footer{
    text-align: left;
    font-size: 25px;
    padding: 10px;
}

header{ background: #c00;}
footer{ background: #d70;}
header, footer{ height: 120px;}
section{height: 300px;}

#section1{
    grid-area: section1;
    background: #120;
}

#section2{
    grid-area: section2;
    background: #130
}

#section3{
    grid-area: section3;
    background: #140;
}

#section4{
    grid-area: section4;
    background: #150 ;
}

@media (min-width: 768px)
{
    main{
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "section1 section2" 
        "section3 section4";
    }
}

@media (min-width: 990px)
{
    main{
        grid-template-columns:  25% 25% 25% 25%;
        grid-template-areas: 
        "section1 section2 section3 section4";
    }
}





