*{margin: 0; padding: 0}
p{text-align: center; margin: 5px 0}

.container{
    width: 94%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "header" "section" "sidebar" "footer"
}

header{grid-area: header}
section{grid-area: section}
aside{grid-area: sidebar}
footer{grid-area: footer}

footer{
    display: flex;
    flex-wrap: wrap
}

.part1, .part2, .part3{
    width: 100%;
    border-bottom: 2px solid #fff
}

.part2{
    order: initial;
}

header{min-height: 100px;}
section{min-height: 450px;}
aside{min-height: 450px;}
footer{min-height: 150px;}

@media (min-width: 768px)
{
    .part1, .part2, .part3{
        width: 49.6%;
        border: 1px solid #fff;
        margin: 0
    }

    .part2{
        width: 100%;
        order: -1
    }

}

@media (min-width: 1024px)
{
    .container{
        width: 94%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 75% 25%;
        grid-template-rows: 100px 450px 150px;
        grid-template-areas: "header header" "section sidebar" "footer footer"
    }

    footer{
        grid-area: footer;
        display: flex;
        flex-wrap: initial;
        justify-content: space-evenly
    }

    .part1, .par2, part3{
        width: 25%;
    }

    .part2{
        width: 50%;
        margin: 0 2px;
        order: initial
    }

    .part3{margin: 0;}
}