<!DOCTYPE html>
<html lang="pr-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>04 - Layout</title>
    <link rel="stylesheet" href="../../asset/css/root.css">
    <link rel="stylesheet" href="../../asset/css/base.css">
    <link rel="stylesheet" href="asset/css/style.css">

</head>
<body>
    <div class="container">
        <header class="bg_prm">
            <p>header</p>
        </header>
        <nav class="bg_scn">
            <p>nav</p>
        </nav>
        <article class="bg_drk">
            <p>article</p>
        </article>
        <aside class="bg_lgt">
            <p>aside</p>
        </aside>
        <footer class="bg_prm">
            <p>footer</p>
        </footer>
    </div>
</body>
</html>